:root {
  --white: #fff;
  --beige: #fae3c1;
  --dark-gray: #4f4f4f;
  --red: #e92929;
  --light-red: #fff3f3;
  --light: rgb(248, 248, 248);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--dark-gray);
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.main-container {
  max-width: 1300px;
  padding: 0 2%;
  margin: 0 auto;
}

.errorMsg {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
}
