:root {
  --white: #fff;
  --beige: #fae3c1;
  --dark-gray: #4f4f4f;
  --orange: #c66713;
  --aqua: #bfdfde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--beige);
  color: var(--dark-gray);
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.main-container {
  max-width: 1300px;
  padding: 0 2%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
  font-size: 1rem;
}
