.search-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;

  input, button {
    background: var(--white);
    border: none;
    border-radius: 50px;
  }

  input {
    width: 300px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455);
  }

  button {
    padding: 15px 20px;
    margin-left: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455);
    cursor: pointer;

    &:hover {
      background: var(--light-red);
      transition: all .5s ease-in-out;

      svg {
        color: var(--dark-gray);
      }
    }

    svg {
      color: var(--red);
    }
  }

  @media (max-width: 300px) {
    input {
      width: 200px;
    }
  }
}
