.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  input,
  button {
    background: var(--white);
    border: none;
    border-radius: 50px;
  }

  input {
    width: 300px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455);
  }

  button {
    padding: 20px;
    margin-left: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: var(--light);
      transition: all 0.5s ease-in-out;
    }

    i {
      color: var(--red);
      font-size: 1.1rem;
    }
  }

  @media (max-width: 300px) {
    input {
      width: 200px;
    }
  }
}
